In [1]:
import pandas as pd
import numpy as np
df_del = pd.read_csv('cleaned_del.csv')
df_match = pd.read_csv('cleaned_match.csv')
bowler_wicket_types = [
    'caught',
    'bowled',
    'lbw',
    'stumped',
    'caught and bowled',
    'hit wicket'
]

In [10]:
df_del.sample(10)

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
152539,152539,1136570,1,Kolkata Knight Riders,Sunrisers Hyderabad,1,1,RV Uthappa,B Stanlake,CA Lynn,1,0,1,NaN,0,NaN,NaN,NaN
222474,222474,1304106,2,Royal Challengers Bangalore,Kings XI Punjab,11,4,Shahbaz Ahmed,Harpreet Brar,KD Karthik,1,0,1,NaN,0,NaN,NaN,NaN
77861,77861,598004,1,Royal Challengers Bangalore,Sunrisers Hyderabad,10,6,V Kohli,Ankit Sharma,MC Henriques,0,0,0,NaN,0,NaN,NaN,NaN
101506,101506,733989,1,Sunrisers Hyderabad,Rajasthan Royals,5,4,KL Rahul,JP Faulkner,AJ Finch,1,0,1,NaN,0,NaN,NaN,NaN
252850,252850,1426276,1,Mumbai Indians,Rajasthan Royals,3,2,Mohammad Nabi,Sandeep Sharma,Tilak Varma,0,0,0,NaN,0,NaN,NaN,NaN
102142,102142,733995,1,Mumbai Indians,Chennai Super Kings,2,5,CM Gautam,S Badree,LMP Simmons,0,0,0,NaN,1,CM Gautam,caught,BB McCullum
7543,7543,336014,1,Kolkata Knight Riders,Sunrisers Hyderabad,6,3,SC Ganguly,SB Styris,A Chopra,4,0,4,NaN,0,NaN,NaN,NaN
206415,206415,1254111,1,Rajasthan Royals,Kings XI Punjab,16,3,R Parag,Mohammed Shami,MK Lomror,0,0,0,NaN,1,R Parag,caught,AK Markram
109045,109045,829705,2,Kolkata Knight Riders,Mumbai Indians,12,1,SA Yadav,R Vinay Kumar,G Gambhir,0,0,0,NaN,0,NaN,NaN,NaN
90393,90393,598056,1,Sunrisers Hyderabad,Kings XI Punjab,9,3,KV Sharma,Sandeep Sharma,PA Patel,0,0,0,NaN,0,NaN,NaN,NaN

In [5]:
df_del.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        260920 non-null  int64
 1   match_id          260920 non-null  int64
 2   inning            260920 non-null  int64
 3   batting_team      260920 non-null  object
 4   bowling_team      260920 non-null  object
 5   over              260920 non-null  int64
 6   ball              260920 non-null  int64
 7   batter            260920 non-null  object
 8   bowler            260920 non-null  object
 9   non_striker       260920 non-null  object
 10  batsman_runs      260920 non-null  int64
 11  extra_runs        260920 non-null  int64
 12  total_runs        260920 non-null  int64
 13  extras_type       14125 non-null   object
 14  is_wicket         260920 non-null  int64
 15  player_dismissed  12950 non-null   object
 16  dismissal_kind    12950 non-null   object
 17  fielder           9354 non-null    object
dtypes: int64(9), object(9)
memory usage: 35.8+ MB

In [6]:
df_match.head()

,Unnamed: 0,id,season,city,date,match_type,player_of_match,venue,team1,team2,...,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,0,335982,2008,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,1,335983,2008,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,...,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,2,335984,2008,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,...,bat,Delhi Capitals,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,3,335985,2008,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,...,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,4,335986,2008,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,...,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [7]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1095 non-null   int64
 1   id               1095 non-null   int64
 2   season           1095 non-null   int64
 3   city             1095 non-null   object
 4   date             1095 non-null   object
 5   match_type       1095 non-null   object
 6   player_of_match  1090 non-null   object
 7   venue            1095 non-null   object
 8   team1            1095 non-null   object
 9   team2            1095 non-null   object
 10  toss_winner      1095 non-null   object
 11  toss_decision    1095 non-null   object
 12  winner           1090 non-null   object
 13  result           1095 non-null   object
 14  result_margin    1076 non-null   float64
 15  target_runs      1092 non-null   float64
 16  target_overs     1092 non-null   float64
 17  super_over       1095 non-null   object
 18  method           21 non-null     object
 19  umpire1          1095 non-null   object
 20  umpire2          1095 non-null   object
dtypes: float64(3), int64(3), object(15)
memory usage: 179.8+ KB

# teams

In [10]:
def teams():
    teams = set(df_match['team1']) | set(df_match['team2'])
    return {'teams' : list(teams)}

In [11]:
teams()

{'teams': ['Mumbai Indians',
  'Kochi Tuskers Kerala',
  'Chennai Super Kings',
  'Kings XI Punjab',
  'Royal Challengers Bangalore',
  'Lucknow Super Giants',
  'Rajasthan Royals',
  'Gujarat Titans',
  'Pune Warriors',
  'Sunrisers Hyderabad',
  'Delhi Capitals',
  'Kolkata Knight Riders']}

# Total Matches Over Seasons

In [12]:
def total_matches_over_seasons():
    res = df_match['season'].value_counts()
    return {'seasons' : res.to_dict()}

In [13]:
total_matches_over_seasons()

{'seasons': {2013: 76,
  2022: 74,
  2012: 74,
  2023: 74,
  2011: 73,
  2024: 71,
  2019: 60,
  2016: 60,
  2010: 60,
  2021: 60,
  2020: 60,
  2014: 60,
  2018: 60,
  2017: 59,
  2015: 59,
  2008: 58,
  2009: 57}}

# Matches Hosted by Each City

In [14]:
def matches_hosted_by_each_city():
    res = df_match['city'].value_counts()
    return {'seasons' : res.to_dict()}

In [15]:
matches_hosted_by_each_city()

{'seasons': {'Mumbai': 173,
  'Kolkata': 93,
  'Delhi': 90,
  'Chennai': 85,
  'Hyderabad': 77,
  'Bangalore': 65,
  'Chandigarh': 61,
  'Jaipur': 57,
  'Pune': 51,
  'Dubai': 46,
  'Abu Dhabi': 37,
  'Ahmedabad': 36,
  'Bengaluru': 29,
  'Sharjah': 28,
  'Visakhapatnam': 15,
  'Durban': 15,
  'Lucknow': 14,
  'Dharamsala': 13,
  'Centurion': 12,
  'Rajkot': 10,
  'Navi Mumbai': 9,
  'Indore': 9,
  'Johannesburg': 8,
  'Ranchi': 7,
  'Cuttack': 7,
  'Cape Town': 7,
  'Port Elizabeth': 7,
  'Raipur': 6,
  'Kochi': 5,
  'Mohali': 5,
  'Kanpur': 4,
  'East London': 3,
  'Kimberley': 3,
  'Nagpur': 3,
  'Guwahati': 3,
  'Bloemfontein': 2}}

# Distribution of Match Results

In [12]:
def match_won_analysis():
    result_counts = df_match['result'].value_counts().to_dict()
    
    # Total matches
    total_matches = sum(result_counts.values())
    
    # Extract values safely
    win_by_runs = result_counts.get('runs', 0)
    win_by_wickets = result_counts.get('wickets', 0)
    tie_matches = result_counts.get('tie', 0)
    no_result_matches = result_counts.get('no result', 0)

    # Calculate percentages
    percent_by_runs = round((win_by_runs / total_matches) * 100, 2) if total_matches else 0
    percent_by_wickets = round((win_by_wickets / total_matches) * 100, 2) if total_matches else 0
    percent_tie = round((tie_matches / total_matches) * 100, 2) if total_matches else 0
    percent_no_result = round((no_result_matches / total_matches) * 100, 2) if total_matches else 0

    return {
        "total_matches": total_matches,
        "win_by_wickets": {
            "count": win_by_wickets,
            "percentage": percent_by_wickets
        },
        "win_by_runs": {
            "count": win_by_runs,
            "percentage": percent_by_runs
        },
        "tie": {
            "count": tie_matches,
            "percentage": percent_tie
        },
        "no_result": {
            "count": no_result_matches,
            "percentage": percent_no_result
        }
    }

In [14]:
match_won_analysis()

{'total_matches': 1095,
 'win_by_wickets': {'count': 578, 'percentage': 52.79},
 'win_by_runs': {'count': 498, 'percentage': 45.48},
 'tie': {'count': 14, 'percentage': 1.28},
 'no_result': {'count': 5, 'percentage': 0.46}}

# Average Target Runs by Season

In [65]:
def avg_target_by_season():
    return df_match.groupby('season')['target_runs'].mean().to_dict()

In [66]:
avg_target_by_season()

{2008: 159.77586206896552,
 2009: 148.80701754385964,
 2010: 165.78333333333333,
 2011: 154.04166666666666,
 2012: 158.54054054054055,
 2013: 156.89473684210526,
 2014: 162.38333333333333,
 2015: 164.70689655172413,
 2016: 160.78333333333333,
 2017: 165.40677966101694,
 2018: 170.2,
 2019: 167.73333333333332,
 2020: 170.5,
 2021: 160.31666666666666,
 2022: 172.1216216216216,
 2023: 183.3972602739726,
 2024: 190.59154929577466}

# **Advance APIS**

#  Fetch batting/bowling stats (total runs, strike rate, wickets, economy rate).

In [31]:
# Function to get player performance stats
def player_performance(player_name):
    player_data = df_del[(df_del['batter'] == player_name) | (df_del['bowler'] == player_name)]
    
    if player_data.empty:
        return {"error": "Player not found or no data available"}
    
    # Batting Stats
    batting_data = df_del[df_del['batter'] == player_name]
    total_runs = batting_data['batsman_runs'].sum()
    balls_faced = len(batting_data)
    strike_rate = round((total_runs / balls_faced) * 100, 2) if balls_faced > 0 else 0
    boundaries = batting_data[batting_data['batsman_runs'].isin([4, 6])]['batsman_runs'].count()
    
    # Bowling Stats
    bowling_data = df_del[df_del['bowler'] == player_name]
    total_wickets = bowling_data[(bowling_data['is_wicket'] == 1) & (bowling_data['dismissal_kind'].isin(bowler_wicket_types) )]['is_wicket'].count()
    runs_conceded = bowling_data['total_runs'].sum()
    balls_bowled = len(bowling_data)
    economy_rate = round((runs_conceded / (balls_bowled / 6)), 2) if balls_bowled > 0 else 0
    
    return {
        "player": player_name,
        "batting": {
            "total_runs": int(total_runs),
            "balls_faced": balls_faced,
            "strike_rate": int(strike_rate),
            "boundaries": int(boundaries)
        },
        "bowling": {
            "total_wickets": int(total_wickets),
            "runs_conceded": int(runs_conceded),
            "balls_bowled": balls_bowled,
            "economy_rate": int(economy_rate)
        }
    }

In [32]:
player = 'Mohammed Siraj'
player_performance(player)

{'player': 'Mohammed Siraj',
 'batting': {'total_runs': 109,
  'balls_faced': 122,
  'strike_rate': 89,
  'boundaries': 14},
 'bowling': {'total_wickets': 93,
  'runs_conceded': 2894,
  'balls_bowled': 2081,
  'economy_rate': 8}}

In [33]:
rg = df_del[(df_del['bowler']==player) & (df_del['is_wicket'] == 1) & (df_del['dismissal_kind'] != 'run out')]
rg['dismissal_kind'].value_counts().to_frame().T

dismissal_kind  caught  bowled  lbw  retired hurt  caught and bowled
count               65      19    8             1                  1

# Get player performance against a specific team.

In [34]:
# Function to get player performance against a specific team
def player_vs_team(player_name, team_name):
    player_data = df_del[(df_del['batter'] == player_name) & (df_del['bowling_team'] == team_name)]
    
    if player_data.empty:
        return {"error": "No data available for this player against the specified team"}
    
    # Batting Stats
    total_runs = player_data['batsman_runs'].sum()
    balls_faced = len(player_data)
    strike_rate = round((total_runs / balls_faced) * 100, 2) if balls_faced > 0 else 0
    boundaries = player_data[player_data['batsman_runs'].isin([4, 6])]['batsman_runs'].value_counts().to_dict()
    
    # Bowling Stats
    bowling_data = df_del[(df_del['bowler'] == player_name) & (df_del['batting_team'] == team_name)]
    total_wickets = bowling_data[(bowling_data['is_wicket'] == 1) & (bowling_data['dismissal_kind'].isin(bowler_wicket_types) )]['is_wicket'].count()
    runs = [bowling_data['batsman_runs'].sum(), bowling_data['extra_runs'].sum()]
    runs_conceded = {
        'runs' : runs[0],
        'extra' : runs[1],
        'total' : sum(runs)
    }
    balls_bowled = len(bowling_data)
    economy_rate = round((sum(runs) / (balls_bowled / 6)), 2) if balls_bowled > 0 else 0
    
    return {
        "player": player_name,
        "against_team": team_name,
        "batting": {
            "total_runs": total_runs,
            "balls_faced": balls_faced,
            "strike_rate": strike_rate,
            "boundaries": boundaries
        },
        "bowling": {
            "total_wickets": total_wickets,
            "runs_conceded": runs_conceded,
            "balls_bowled": balls_bowled,
            "economy_rate": economy_rate
        }
    }

In [35]:
player_vs_team('HH Pandya', 'Chennai Super Kings')

{'player': 'HH Pandya',
 'against_team': 'Chennai Super Kings',
 'batting': {'total_runs': np.int64(210),
  'balls_faced': 148,
  'strike_rate': np.float64(141.89),
  'boundaries': {6: 15, 4: 8}},
 'bowling': {'total_wickets': np.int64(10),
  'runs_conceded': {'runs': np.int64(242),
   'extra': np.int64(22),
   'total': np.int64(264)},
  'balls_bowled': 198,
  'economy_rate': np.float64(8.0)}}

In [23]:
df_del['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [23]:
h = df_del[(df_del['bowler']=='HH Pandya') & (df_del['batting_team']=='Gujarat Titans')]
h

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124493,124493,980917,2,Gujarat Titans,Mumbai Indians,6,1,SK Raina,HH Pandya,AJ Finch,0,0,0,NaN,0,NaN,NaN,NaN
124494,124494,980917,2,Gujarat Titans,Mumbai Indians,6,2,SK Raina,HH Pandya,AJ Finch,1,0,1,NaN,0,NaN,NaN,NaN
124495,124495,980917,2,Gujarat Titans,Mumbai Indians,6,3,AJ Finch,HH Pandya,SK Raina,0,1,1,wides,0,NaN,NaN,NaN
124496,124496,980917,2,Gujarat Titans,Mumbai Indians,6,4,AJ Finch,HH Pandya,SK Raina,0,1,1,legbyes,0,NaN,NaN,NaN
124497,124497,980917,2,Gujarat Titans,Mumbai Indians,6,5,SK Raina,HH Pandya,AJ Finch,1,0,1,NaN,0,NaN,NaN,NaN
124498,124498,980917,2,Gujarat Titans,Mumbai Indians,6,6,AJ Finch,HH Pandya,SK Raina,1,0,1,NaN,0,NaN,NaN,NaN
124499,124499,980917,2,Gujarat Titans,Mumbai Indians,6,7,SK Raina,HH Pandya,AJ Finch,6,0,6,NaN,0,NaN,NaN,NaN
124518,124518,980917,2,Gujarat Titans,Mumbai Indians,10,1,KD Karthik,HH Pandya,AJ Finch,0,0,0,NaN,0,NaN,NaN,NaN
124519,124519,980917,2,Gujarat Titans,Mumbai Indians,10,2,KD Karthik,HH Pandya,AJ Finch,0,0,0,NaN,0,NaN,NaN,NaN
124520,124520,980917,2,Gujarat Titans,Mumbai Indians,10,3,KD Karthik,HH Pandya,AJ Finch,0,0,0,NaN,0,NaN,NaN,NaN
124521,124521,980917,2,Gujarat Titans,Mumbai Indians,10,4,KD Karthik,HH Pandya,AJ Finch,0,1,1,wides,0,NaN,NaN,NaN
124522,124522,980917,2,Gujarat Titans,Mumbai Indians,10,5,KD Karthik,HH Pandya,AJ Finch,4,0,4,NaN,0,NaN,NaN,NaN
124523,124523,980917,2,Gujarat Titans,Mumbai Indians,10,6,KD Karthik,HH Pandya,AJ Finch,1,0,1,NaN,0,NaN,NaN,NaN
124524,124524,980917,2,Gujarat Titans,Mumbai Indians,10,7,AJ Finch,HH Pandya,KD Karthik,0,0,0,NaN,0,NaN,NaN,NaN
135120,135120,981007,2,Gujarat Titans,Mumbai Indians,15,1,DR Smith,HH Pandya,RA Jadeja,4,0,4,NaN,0,NaN,NaN,NaN
135121,135121,981007,2,Gujarat Titans,Mumbai Indians,15,2,DR Smith,HH Pandya,RA Jadeja,0,0,0,NaN,0,NaN,NaN,NaN
135122,135122,981007,2,Gujarat Titans,Mumbai Indians,15,3,DR Smith,HH Pandya,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
135123,135123,981007,2,Gujarat Titans,Mumbai Indians,15,4,RA Jadeja,HH Pandya,DR Smith,0,1,1,wides,0,NaN,NaN,NaN
135124,135124,981007,2,Gujarat Titans,Mumbai Indians,15,5,RA Jadeja,HH Pandya,DR Smith,0,0,0,NaN,0,NaN,NaN,NaN
135125,135125,981007,2,Gujarat Titans,Mumbai Indians,15,6,RA Jadeja,HH Pandya,DR Smith,4,0,4,NaN,0,NaN,NaN,NaN
135126,135126,981007,2,Gujarat Titans,Mumbai Indians,15,7,RA Jadeja,HH Pandya,DR Smith,0,0,0,NaN,0,NaN,NaN,NaN
140251,140251,1082606,1,Gujarat Titans,Mumbai Indians,14,1,KD Karthik,HH Pandya,Ishan Kishan,1,0,1,NaN,0,NaN,NaN,NaN
140252,140252,1082606,1,Gujarat Titans,Mumbai Indians,14,2,Ishan Kishan,HH Pandya,KD Karthik,1,0,1,NaN,0,NaN,NaN,NaN
140253,140253,1082606,1,Gujarat Titans,Mumbai Indians,14,3,KD Karthik,HH Pandya,Ishan Kishan,0,0,0,NaN,0,NaN,NaN,NaN
140254,140254,1082606,1,Gujarat Titans,Mumbai Indians,14,4,KD Karthik,HH Pandya,Ishan Kishan,2,0,2,NaN,0,NaN,NaN,NaN
140255,140255,1082606,1,Gujarat Titans,Mumbai Indians,14,5,KD Karthik,HH Pandya,Ishan Kishan,6,0,6,NaN,0,NaN,NaN,NaN
140256,140256,1082606,1,Gujarat Titans,Mumbai Indians,14,6,KD Karthik,HH Pandya,Ishan Kishan,5,0,5,NaN,0,NaN,NaN,NaN
244813,244813,1422123,1,Gujarat Titans,Mumbai Indians,0,1,WP Saha,HH Pandya,Shubman Gill,4,0,4,NaN,0,NaN,NaN,NaN
244814,244814,1422123,1,Gujarat Titans,Mumbai Indians,0,2,WP Saha,HH Pandya,Shubman Gill,1,0,1,NaN,0,NaN,NaN,NaN
244815,244815,1422123,1,Gujarat Titans,Mumbai Indians,0,3,Shubman Gill,HH Pandya,WP Saha,0,0,0,NaN,0,NaN,NaN,NaN
244816,244816,1422123,1,Gujarat Titans,Mumbai Indians,0,4,Shubman Gill,HH Pandya,WP Saha,4,0,4,NaN,0,NaN,NaN,NaN
244817,244817,1422123,1,Gujarat Titans,Mumbai Indians,0,5,Shubman Gill,HH Pandya,WP Saha,0,0,0,NaN,0,NaN,NaN,NaN
244818,244818,1422123,1,Gujarat Titans,Mumbai Indians,0,6,Shubman Gill,HH Pandya,WP Saha,2,0,2,NaN,0,NaN,NaN,NaN
244825,244825,1422123,1,Gujarat Titans,Mumbai Indians,2,1,WP Saha,HH Pandya,Shubman Gill,4,0,4,NaN,0,NaN,NaN,NaN
244826,244826,1422123,1,Gujarat Titans,Mumbai Indians,2,2,WP Saha,HH Pandya,Shubman Gill,4,0,4,NaN,0,NaN,NaN,NaN
244827,244827,1422123,1,Gujarat Titans,Mumbai Indians,2,3,WP Saha,HH Pandya,Shubman Gill,1,0,1,NaN,0,NaN,NaN,NaN
244828,244828,1422123,1,Gujarat Titans,Mumbai Indians,2,4,Shubman Gill,HH Pandya,WP Saha,0,0,0,NaN,0,NaN,NaN,NaN
244829,244829,1422123,1,Gujarat Titans,Mumbai Indians,2,5,Shubman Gill,HH Pandya,WP Saha,0,0,0,NaN,0,NaN,NaN,NaN
244830,244830,1422123,1,Gujarat Titans,Mumbai Indians,2,6,Shubman Gill,HH Pandya,WP Saha,0,0,0,NaN,0,NaN,NaN,NaN
244899,244899,1422123,1,Gujarat Titans,Mumbai Indians,14,1,B Sai Sudharsan,HH Pandya,DA Miller,1,0,1,NaN,0,NaN,NaN,NaN
244900,244900,1422123,1,Gujarat Titans,Mumbai Indians,14,2,DA Miller,HH Pandya,B Sai Sudharsan,1,0,1,NaN,0,NaN,NaN,NaN
244901,244901,1422123,1,Gujarat Titans,Mumbai Indians,14,3,B Sai Sudharsan,HH Pandya,DA Miller,4,0,4,NaN,0,NaN,NaN,NaN
244902,244902,1422123,1,Gujarat Titans,Mumbai Indians,14,4,B Sai Sudharsan,HH Pandya,DA Miller,2,0,2,NaN,0,NaN,NaN,NaN
244903,244903,1422123,1,Gujarat Titans,Mumbai Indians,14,5,B Sai Sudharsan,HH Pandya,DA Miller,1,0,1,NaN,0,NaN,NaN,NaN
244904,244904,1422123,1,Gujarat Titans,Mumbai Indians,14,6,DA Miller,HH Pandya,B Sai Sudharsan,1,0,1,NaN,0,NaN,NaN,NaN

In [24]:
h.groupby('match_id')['batsman_runs'].sum()

match_id
980917      2
981007      7
1082606     6
1082625     4
1422123    11
Name: batsman_runs, dtype: int64

# inning-wise statistics

## 1. Add Powerplay, Middle, and Death Overs Analysis

In [39]:
def match_innings_1(match_id):
    match_data = df_del[df_del['match_id'] == match_id]
    
    if match_data.empty:
        return {"error": "Match ID not found"}
    
    innings_stats = {}
    for inning in match_data['inning'].unique():
        inning_data = match_data[match_data['inning'] == inning]
        team = inning_data.iloc[0]['batting_team']
        total_runs = inning_data['total_runs'].sum()
        wickets = inning_data[inning_data['is_wicket'] == 1].shape[0]
        
        # Calculate run rate using min and max over numbers
        min_over = inning_data['over'].min()
        max_over = inning_data['over'].max()
        overs_played = max_over - min_over + 1  # +1 to include both min and max overs
        run_rate = round(total_runs / overs_played, 2) if overs_played > 0 else 0
        
        # Phase-wise analysis
        powerplay_data = inning_data[inning_data['over'].between(0, 5)]  # Overs 0-5 (Powerplay)
        middle_data = inning_data[inning_data['over'].between(6, 14)]    # Overs 6-14 (Middle)
        death_data = inning_data[inning_data['over'].between(15, 19)]    # Overs 15-19 (Death)
        
        # Calculate overs played in each phase
        powerplay_overs = powerplay_data['over'].max() - powerplay_data['over'].min() + 1 if not powerplay_data.empty else 0
        middle_overs = middle_data['over'].max() - middle_data['over'].min() + 1 if not middle_data.empty else 0
        death_overs = death_data['over'].max() - death_data['over'].min() + 1 if not death_data.empty else 0
        
        phase_stats = {
            "powerplay": {
                "runs": powerplay_data['total_runs'].sum(),
                "wickets": powerplay_data[powerplay_data['is_wicket'] == 1].shape[0],
                "run_rate": round(powerplay_data['total_runs'].sum() / powerplay_overs, 2) if powerplay_overs > 0 else 0
            },
            "middle": {
                "runs": middle_data['total_runs'].sum(),
                "wickets": middle_data[middle_data['is_wicket'] == 1].shape[0],
                "run_rate": round(middle_data['total_runs'].sum() / middle_overs, 2) if middle_overs > 0 else 0
            },
            "death": {
                "runs": death_data['total_runs'].sum(),
                "wickets": death_data[death_data['is_wicket'] == 1].shape[0],
                "run_rate": round(death_data['total_runs'].sum() / death_overs, 2) if death_overs > 0 else 0
            }
        }
        
        innings_stats[inning] = {
            "batting_team": team,
            "total_runs": total_runs,
            "wickets": wickets,
            "run_rate": run_rate,
            "phase_stats": phase_stats
        }
    
    return {"match_id": match_id, "innings": innings_stats}

In [40]:
match_innings_1(980917)

{'match_id': 980917,
 'innings': {np.int64(1): {'batting_team': 'Mumbai Indians',
   'total_runs': np.int64(143),
   'wickets': 8,
   'run_rate': np.float64(7.15),
   'phase_stats': {'powerplay': {'runs': np.int64(31),
     'wickets': 2,
     'run_rate': np.float64(5.17)},
    'middle': {'runs': np.int64(51),
     'wickets': 3,
     'run_rate': np.float64(5.67)},
    'death': {'runs': np.int64(61),
     'wickets': 3,
     'run_rate': np.float64(12.2)}}},
  np.int64(2): {'batting_team': 'Gujarat Titans',
   'total_runs': np.int64(147),
   'wickets': 7,
   'run_rate': np.float64(7.35),
   'phase_stats': {'powerplay': {'runs': np.int64(42),
     'wickets': 1,
     'run_rate': np.float64(7.0)},
    'middle': {'runs': np.int64(57),
     'wickets': 3,
     'run_rate': np.float64(6.33)},
    'death': {'runs': np.int64(48),
     'wickets': 3,
     'run_rate': np.float64(9.6)}}}}}

## 2. Add Top Performers

In [41]:
def match_innings_2(match_id):
    match_data = df_del[df_del['match_id'] == match_id]
    
    if match_data.empty:
        return {"error": "Match ID not found"}
    
    innings_stats = {}
    for inning in match_data['inning'].unique():
        inning_data = match_data[match_data['inning'] == inning]
        team = inning_data.iloc[0]['batting_team']
        total_runs = inning_data['total_runs'].sum()
        wickets = inning_data[inning_data['is_wicket'] == 1].shape[0]
        run_rate = round(total_runs / (max(inning_data['over'])) + 1, 2) if max(inning_data['over']) > 0 else 0
        
        # Top batsman
        top_batsman = inning_data.groupby('batter')['batsman_runs'].sum().idxmax()
        top_batsman_runs = inning_data.groupby('batter')['batsman_runs'].sum().max()
        
        # Top bowler
        top_bowler = inning_data.groupby('bowler')['is_wicket'].sum().idxmax()
        top_bowler_wickets = inning_data.groupby('bowler')['is_wicket'].sum().max()
        
        innings_stats[inning] = {
            "batting_team": team,
            "total_runs": total_runs,
            "wickets": wickets,
            "run_rate": run_rate,
            "top_batsman": {
                "name": top_batsman,
                "runs": top_batsman_runs
            },
            "top_bowler": {
                "name": top_bowler,
                "wickets": top_bowler_wickets
            }
        }
    
    return {"match_id": match_id, "innings": innings_stats}

In [42]:
match_innings_2(1216547)

{'match_id': 1216547,
 'innings': {np.int64(1): {'batting_team': 'Royal Challengers Bangalore',
   'total_runs': np.int64(201),
   'wickets': 3,
   'run_rate': np.float64(11.58),
   'top_batsman': {'name': 'AB de Villiers', 'runs': np.int64(55)},
   'top_bowler': {'name': 'TA Boult', 'wickets': np.int64(2)}},
  np.int64(2): {'batting_team': 'Mumbai Indians',
   'total_runs': np.int64(201),
   'wickets': 5,
   'run_rate': np.float64(11.58),
   'top_batsman': {'name': 'Ishan Kishan', 'runs': np.int64(99)},
   'top_bowler': {'name': 'I Udana', 'wickets': np.int64(2)}},
  np.int64(3): {'batting_team': 'Mumbai Indians',
   'total_runs': np.int64(7),
   'wickets': 1,
   'run_rate': 0,
   'top_batsman': {'name': 'KA Pollard', 'runs': np.int64(5)},
   'top_bowler': {'name': 'Navdeep Saini', 'wickets': np.int64(1)}},
  np.int64(4): {'batting_team': 'Royal Challengers Bangalore',
   'total_runs': np.int64(11),
   'wickets': 0,
   'run_rate': 0,
   'top_batsman': {'name': 'AB de Villiers', 'runs': np.int64(6)},
   'top_bowler': {'name': 'JJ Bumrah', 'wickets': np.int64(0)}}}}

In [31]:
df_del.groupby('batter')['batsman_runs'].sum().sort_values()

batter
YA Abdulla           0
U Kaul               0
Yash Dayal           0
V Pratap Singh       0
L Ablish             0
                  ...
SK Raina          5536
DA Warner         6567
RG Sharma         6630
S Dhawan          6769
V Kohli           8014
Name: batsman_runs, Length: 673, dtype: int64

In [37]:
df_del[df_del['batter'] == 'Ishan Kishan'].groupby('match_id')['batsman_runs'].sum().sort_values()

match_id
980949      0
1136591     0
1136583     0
1136574     0
1304079     0
           ..
1216535    72
1359520    75
1304048    81
1254088    84
1216547    99
Name: batsman_runs, Length: 99, dtype: int64

## 3. Add Boundary Analysis

In [45]:
def match_innings_3(match_id):
    match_data = df_del[df_del['match_id'] == match_id]
    
    if match_data.empty:
        return {"error": "Match ID not found"}
    
    innings_stats = {}
    for inning in match_data['inning'].unique():
        inning_data = match_data[match_data['inning'] == inning]
        team = inning_data.iloc[0]['batting_team']
        total_runs = inning_data['total_runs'].sum()
        wickets = inning_data[inning_data['is_wicket'] == 1].shape[0]
        run_rate = round(total_runs / (max(inning_data['over']) + 1), 2) if max(inning_data['over']) > 0 else 0
        
        # Boundary analysis
        fours = inning_data[inning_data['batsman_runs'] == 4].shape[0]
        sixes = inning_data[inning_data['batsman_runs'] == 6].shape[0]
        boundary_runs = (fours * 4) + (sixes * 6)
        boundary_percentage = round((boundary_runs / total_runs) * 100, 2) if total_runs > 0 else 0
        
        innings_stats[inning] = {
            "batting_team": team,
            "total_runs": total_runs,
            "wickets": wickets,
            "run_rate": run_rate,
            "boundaries": {
                "fours": fours,
                "sixes": sixes,
                "boundary_runs": boundary_runs,
                "boundary_percentage": boundary_percentage
            }
        }
    
    return {"match_id": match_id, "innings": innings_stats}

In [47]:
match_innings_3(980917)

{'match_id': 980917,
 'innings': {np.int64(1): {'batting_team': 'Mumbai Indians',
   'total_runs': np.int64(143),
   'wickets': 8,
   'run_rate': np.float64(7.15),
   'boundaries': {'fours': 11,
    'sixes': 5,
    'boundary_runs': 74,
    'boundary_percentage': np.float64(51.75)}},
  np.int64(2): {'batting_team': 'Gujarat Titans',
   'total_runs': np.int64(147),
   'wickets': 7,
   'run_rate': np.float64(7.35),
   'boundaries': {'fours': 14,
    'sixes': 3,
    'boundary_runs': 74,
    'boundary_percentage': np.float64(50.34)}}}}

## 4. Add Fall of Wickets

In [50]:
def match_innings_4(match_id):
    match_data = df_del[df_del['match_id'] == match_id]
    
    if match_data.empty:
        return {"error": "Match ID not found"}
    
    innings_stats = {}
    for inning in match_data['inning'].unique():
        inning_data = match_data[match_data['inning'] == inning]
        team = inning_data.iloc[0]['batting_team']
        total_runs = inning_data['total_runs'].sum()
        wickets = inning_data[inning_data['is_wicket'] == 1].shape[0]
        run_rate = round(total_runs / (max(inning_data['over']) + 1), 2) if max(inning_data['over']) > 0 else 0
        
        # Fall of wickets
        fall_of_wickets = inning_data[inning_data['is_wicket'] == 1][['over', 'ball', 'player_dismissed', 'total_runs']]
        fall_of_wickets = fall_of_wickets.to_dict(orient='records')
        
        innings_stats[inning] = {
            "batting_team": team,
            "total_runs": total_runs,
            "wickets": wickets,
            "run_rate": run_rate,
            "fall_of_wickets": fall_of_wickets
        }
    
    return {"match_id": match_id, "innings": innings_stats}

In [51]:
match_innings_4(980917)

{'match_id': 980917,
 'innings': {np.int64(1): {'batting_team': 'Mumbai Indians',
   'total_runs': np.int64(143),
   'wickets': 8,
   'run_rate': np.float64(7.15),
   'fall_of_wickets': [{'over': 1,
     'ball': 3,
     'player_dismissed': 'RG Sharma',
     'total_runs': 0},
    {'over': 3, 'ball': 3, 'player_dismissed': 'HH Pandya', 'total_runs': 0},
    {'over': 8, 'ball': 6, 'player_dismissed': 'JC Buttler', 'total_runs': 1},
    {'over': 10, 'ball': 1, 'player_dismissed': 'KA Pollard', 'total_runs': 0},
    {'over': 12, 'ball': 6, 'player_dismissed': 'PA Patel', 'total_runs': 0},
    {'over': 15,
     'ball': 5,
     'player_dismissed': 'Harbhajan Singh',
     'total_runs': 0},
    {'over': 16, 'ball': 7, 'player_dismissed': 'AT Rayudu', 'total_runs': 0},
    {'over': 19,
     'ball': 5,
     'player_dismissed': 'TG Southee',
     'total_runs': 0}]},
  np.int64(2): {'batting_team': 'Gujarat Titans',
   'total_runs': np.int64(147),
   'wickets': 7,
   'run_rate': np.float64(7.35),
   'fall_of_wickets': [{'over': 1,
     'ball': 3,
     'player_dismissed': 'BB McCullum',
     'total_runs': 0},
    {'over': 8, 'ball': 3, 'player_dismissed': 'SK Raina', 'total_runs': 0},
    {'over': 11, 'ball': 1, 'player_dismissed': 'KD Karthik', 'total_runs': 0},
    {'over': 12, 'ball': 2, 'player_dismissed': 'DJ Bravo', 'total_runs': 0},
    {'over': 16, 'ball': 1, 'player_dismissed': 'AD Nath', 'total_runs': 0},
    {'over': 18,
     'ball': 2,
     'player_dismissed': 'JP Faulkner',
     'total_runs': 0},
    {'over': 18, 'ball': 4, 'player_dismissed': 'P Kumar', 'total_runs': 0}]}}}

## 5. Add Partnership Analysis

In [56]:
def match_innings_5(match_id):
    match_data = df_del[df_del['match_id'] == match_id]
    
    if match_data.empty:
        return {"error": "Match ID not found"}
    
    innings_stats = {}
    for inning in match_data['inning'].unique():
        inning_data = match_data[match_data['inning'] == inning]
        team = inning_data.iloc[0]['batting_team']
        total_runs = inning_data['total_runs'].sum()
        wickets = inning_data[inning_data['is_wicket'] == 1].shape[0]
        run_rate = round(total_runs / (max(inning_data['over'])) + 1, 2) if max(inning_data['over']) > 0 else 0
        
        # Partnership analysis
        partnerships = []
        current_partnership = {"batsmen": [], "runs": 0, "balls": 0}
        for _, ball in inning_data.iterrows():
            if ball['is_wicket'] == 1:
                partnerships.append(current_partnership)
                current_partnership = {"batsmen": [], "runs": 0, "balls": 0}
            else:
                current_partnership["batsmen"] = list(set(current_partnership["batsmen"] + [ball['batter'], ball['non_striker']]))
                current_partnership["runs"] += ball['total_runs']
                current_partnership["balls"] += 1
        
        # Add the last partnership
        if current_partnership["runs"] > 0:
            partnerships.append(current_partnership)
        
        # Sort partnerships by runs
        partnerships = sorted(partnerships, key=lambda x: x['runs'], reverse=True)
        
        innings_stats[inning] = {
            "batting_team": team,
            "total_runs": total_runs,
            "wickets": wickets,
            "run_rate": run_rate,
            "partnerships": partnerships
        }
    
    return {"match_id": match_id, "innings": innings_stats}

In [57]:
match_innings_5(980917)

{'match_id': 980917,
 'innings': {np.int64(1): {'batting_team': 'Mumbai Indians',
   'total_runs': np.int64(143),
   'wickets': 8,
   'run_rate': np.float64(8.53),
   'partnerships': [{'batsmen': ['TG Southee', 'KH Pandya'],
     'runs': 42,
     'balls': 19},
    {'batsmen': ['PA Patel', 'JC Buttler'], 'runs': 31, 'balls': 34},
    {'batsmen': ['PA Patel', 'AT Rayudu'], 'runs': 18, 'balls': 16},
    {'batsmen': ['PA Patel', 'HH Pandya'], 'runs': 12, 'balls': 11},
    {'batsmen': ['Harbhajan Singh', 'AT Rayudu'], 'runs': 11, 'balls': 16},
    {'batsmen': ['AT Rayudu', 'KH Pandya'], 'runs': 11, 'balls': 7},
    {'batsmen': ['PA Patel', 'KA Pollard'], 'runs': 8, 'balls': 7},
    {'batsmen': ['PA Patel', 'RG Sharma'], 'runs': 7, 'balls': 8},
    {'batsmen': ['MJ McClenaghan', 'KH Pandya'], 'runs': 2, 'balls': 1}]},
  np.int64(2): {'batting_team': 'Gujarat Titans',
   'total_runs': np.int64(147),
   'wickets': 7,
   'run_rate': np.float64(8.74),
   'partnerships': [{'batsmen': ['AJ Finch', 'SK Raina'],
     'runs': 53,
     'balls': 43},
    {'batsmen': ['AJ Finch', 'AD Nath'], 'runs': 26, 'balls': 22},
    {'batsmen': ['JP Faulkner', 'AJ Finch'], 'runs': 22, 'balls': 13},
    {'batsmen': ['DS Kulkarni', 'AJ Finch'], 'runs': 16, 'balls': 8},
    {'batsmen': ['AJ Finch', 'KD Karthik'], 'runs': 15, 'balls': 16},
    {'batsmen': ['BB McCullum', 'AJ Finch'], 'runs': 12, 'balls': 8},
    {'batsmen': ['DJ Bravo', 'AJ Finch'], 'runs': 3, 'balls': 6},
    {'batsmen': ['P Kumar', 'AJ Finch'], 'runs': 0, 'balls': 1}]}}}

In [60]:
avg_run_byseason = pd.pivot_table(data=df_match, index='season', values='target_runs', aggfunc='mean')
# avg_run_byseason.reset_index(inplace=True)

In [61]:
avg_run_byseason

        target_runs
season
2008     159.775862
2009     148.807018
2010     165.783333
2011     154.041667
2012     158.540541
2013     156.894737
2014     162.383333
2015     164.706897
2016     160.783333
2017     165.406780
2018     170.200000
2019     167.733333
2020     170.500000
2021     160.316667
2022     172.121622
2023     183.397260
2024     190.591549

In [89]:

def batsman_vs_bowler(batsman, bowler):
    # Filter deliveries where the batsman faced the bowler
    filtered_data = df_del[
        (df_del['batter'] == batsman) & 
        (df_del['bowler'] == bowler)
    ]
    
    if filtered_data.empty:
        return {"error": "No data found for this combination"}
    
    # Calculate stats
    total_runs = filtered_data['batsman_runs'].sum()
    total_balls = len(filtered_data)
    dismissals = filtered_data['is_wicket'].sum()
    strike_rate = (total_runs / total_balls) * 100 if total_balls > 0 else 0
    average = total_runs / dismissals if dismissals > 0 else total_runs
    
    # Dismissal types
    dismissal_types = filtered_data[filtered_data['is_wicket'] == 1]['dismissal_kind'].value_counts().to_dict()
    
    return {
        "batsman": batsman,
        "bowler": bowler,
        "total_runs": int(total_runs),
        "total_balls": total_balls,
        "dismissals": int(dismissals),
        "strike_rate": float(round(strike_rate, 2)),
        "average": float(round(average, 2)),
        "dismissal_types": dismissal_types}

def player_dismissal_analysis(player_name):
    # Filter deliveries where the player was dismissed
    dismissals = df_del[
        (df_del['player_dismissed'] == player_name) & 
        (df_del['is_wicket'] == 1)
    ]
    
    if dismissals.empty:
        return {"error": "No dismissals found for this player"}
    
    # Count dismissal types
    dismissal_types = dismissals['dismissal_kind'].value_counts().to_dict()
    
    return {
        "player": player_name,
        "total_dismissals": len(dismissals),
        "dismissal_types": dismissal_types
    }

def player_performance_by_phase(player_name, phase):
    # Define phase overs
    
    # Overs 0-5 (Powerplay)
    # Overs 6-14 (Middle)
    # Overs 15-19 (Death)
    
    if phase == "powerplay":
        overs = range(0, 5)
    elif phase == "middle":
        overs = range(6, 14)
    elif phase == "death":
        overs = range(15, 19)
    else:
        return {"error": "Invalid phase. Use 'powerplay', 'middle', or 'death'"}
    
    # Filter deliveries for the player in the specified phase
    phase_data = df_del[
        (df_del['batter'] == player_name) & 
        (df_del['over'].isin(overs))
    ]
    
    if phase_data.empty:
        return {"error": "No data found for this player in the specified phase"}
    
    # Calculate stats
    total_runs = phase_data['batsman_runs'].sum()
    total_balls = len(phase_data)
    boundaries = len(phase_data[phase_data['batsman_runs'].isin([4, 6])])
    strike_rate = (total_runs / total_balls) * 100 if total_balls > 0 else 0
    
    return {
        "player": player_name,
        "phase": phase,
        "total_runs": int(total_runs),
        "total_balls": total_balls,
        "boundaries": boundaries,
        "strike_rate": float(round(strike_rate, 2))
    }

def team_phase_stats(team, phase, role="batting"):
    # Define phase overs
    if phase == "powerplay":
        overs = range(0, 5)
    elif phase == "middle":
        overs = range(6, 14)
    elif phase == "death":
        overs = range(15, 19)
    else:
        return {"error": "Invalid phase. Use 'powerplay', 'middle', or 'death'"}
    
    # Filter data based on role (batting or bowling)
    if role == "batting":
        filtered_data = df_del[
            (df_del['batting_team'] == team) & 
            (df_del['over'].isin(overs))
        ]
        total_runs = filtered_data['total_runs'].sum()
        total_balls = len(filtered_data)
        boundaries = len(filtered_data[filtered_data['batsman_runs'].isin([4, 6])])
        strike_rate = (total_runs / total_balls) * 100 if total_balls > 0 else 0
        wickets_lost = filtered_data['is_wicket'].sum()
        
        return {
            "team": team,
            "phase": phase,
            "role": role,
            "total_runs": int(total_runs),
            "total_balls": total_balls,
            "boundaries": boundaries,
            "strike_rate": float(round(strike_rate, 2)),
            "wickets_lost": int(wickets_lost)
        }
    
    elif role == "bowling":
        filtered_data = df_del[
            (df_del['bowling_team'] == team) & 
            (df_del['over'].isin(overs))
        ]
        total_runs_conceded = filtered_data['total_runs'].sum()
        total_balls = len(filtered_data)
        wickets_taken = filtered_data['is_wicket'].sum()
        economy_rate = (total_runs_conceded / total_balls) * 6 if total_balls > 0 else 0
        
        return {
            "team": team,
            "phase": phase,
            "role": role,
            "total_runs_conceded": int(total_runs_conceded),
            "total_balls": total_balls,
            "wickets_taken": int(wickets_taken),
            "economy_rate": float(round(economy_rate, 2))
        }
    
    else:
        return {"error": "Invalid role. Use 'batting' or 'bowling'"}

def team_home_vs_away(team, home_venue):
    # Filter home matches
    home_matches = df_match[
        ((df_match['team1'] == team) | (df_match['team2'] == team)) & 
        (df_match['venue'] == home_venue)
    ]
    home_wins = len(home_matches[home_matches['winner'] == team])
    
    # Filter away matches
    away_matches = df_match[
        ((df_match['team1'] == team) | (df_match['team2'] == team)) & 
        (df_match['venue'] != home_venue)
    ]
    away_wins = len(away_matches[away_matches['winner'] == team])
    
    return {
        "team": team,
        "home_venue": home_venue,
        "home_matches": len(home_matches),
        "home_wins": home_wins,
        "away_matches": len(away_matches),
        "away_wins": away_wins
    }

## temp

In [ ]:
for season in df_match['season'].unique():
    x=df_match[df_match['season'] == season]['id'].to_list()
    y = df_del[(df_del['batter']=='V Kohli') & df_del['match_id'].isin(x)]['batsman_runs'].sum()
    print(season,y)

x = df_match[df_match['season']==2013]['id'].tolist()
x

vk13 = df_del[df_del['match_id'].isin(x)]

vk13 = vk13[(vk13['batter']=='V Kohli')]

vk13['batsman_runs'].sum()

vk13

vk13.groupby('match_id')['batsman_runs'].sum()

df_del[(df_del['match_id']==598004) & (df_del['batter']=='V Kohli')]['batsman_runs'].sum()

# **basic**

# Result Margin Distribution

In [16]:
def result_margin_distribution():
    # Extract margins
    margin_wins_by_runs = df_match[df_match['result'] == 'runs']['result_margin'].dropna().astype(int)
    margin_wins_by_wickets = df_match[df_match['result'] == 'wickets']['result_margin'].dropna().astype(int)

    # Define bins for runs (0-10, 10-20, ..., 90-100, 100+)
    run_bins = list(range(0, 141, 10))  # 0-10, 10-20, ..., 130-140
    run_bins.append(float('inf'))  # 140+

    # Group runs into bins
    run_labels = [f"{run_bins[i]}-{run_bins[i+1] - 1}" if run_bins[i+1] != float('inf') else "140+" for i in range(len(run_bins)-1)]
    run_distribution = pd.cut(margin_wins_by_runs, bins=run_bins, labels=run_labels, right=False).value_counts().sort_index()

    # Count wickets directly using value_counts()
    wicket_distribution = margin_wins_by_wickets.value_counts().sort_index()

    return {
        "win_by_runs": run_distribution.to_dict(),
        "win_by_wickets": wicket_distribution.to_dict()
    }

result_margin_distribution()

{'win_by_runs': {'0-9': 104,
  '10-19': 121,
  '20-29': 85,
  '30-39': 59,
  '40-49': 36,
  '50-59': 25,
  '60-69': 20,
  '70-79': 13,
  '80-89': 15,
  '90-99': 9,
  '100-109': 3,
  '110-119': 3,
  '120-129': 0,
  '130-139': 2,
  '140+': 3},
 'win_by_wickets': {1: 4,
  2: 10,
  3: 31,
  4: 59,
  5: 97,
  6: 120,
  7: 115,
  8: 78,
  9: 48,
  10: 16}}

In [17]:

# Removing rows where the winner is missing
df_clean = df_match.dropna(subset=['winner'])

# Grouping by toss decision and counting how often each decision leads to a win
wins_by_decision = df_clean.groupby('toss_decision').size().reset_index(name='wins')

# Calculating the percentage of matches won by teams batting first vs. fielding first
total_matches = df_clean.shape[0]
wins_by_decision['percentage'] = (wins_by_decision['wins'] / total_matches) * 100

# Displaying the result
print(wins_by_decision)

  toss_decision  wins  percentage
0           bat   390   35.779817
1         field   700   64.220183

In [18]:
wins_by_decision

  toss_decision  wins  percentage
0           bat   390   35.779817
1         field   700   64.220183

# Matches Won by Toss Decision

In [31]:
def matches_won_by_toss_decision():
    """
    Analyzes the relationship between toss decisions and match outcomes.

    Returns:
        pd.DataFrame: A DataFrame containing:
            - toss_decision (str): The decision made after winning the toss ("bat" or "field").
            - wins (int): Number of matches won by teams that won the toss and chose this decision.
            - total_matches (int): Total matches where teams made this toss decision.
            - percentage (float): Win percentage for each toss decision.

    The function filters matches where the toss-winning team also won the match, 
    then calculates the win count and percentage for each toss decision.
    """
    
    # Filter matches where the toss winner is also the match winner
    toss_winner_wins = df_match[df_match['toss_winner'] == df_match['winner']]

    # Groups matches by toss_decision (bat or field).
    # Counts how many times a team won the match after winning the toss.
    toss_decision_wins = toss_winner_wins.groupby('toss_decision').size().reset_index(name='wins')
    
    # Calculate total matches for each toss decision
    total_matches_by_toss_decision = df_match['toss_decision'].value_counts().reset_index()
    total_matches_by_toss_decision.columns = ['toss_decision', 'total_matches']
    
    # Merge wins and total matches
    toss_decision_stats = pd.merge(toss_decision_wins, total_matches_by_toss_decision, on='toss_decision')
    
    # Calculate win percentage
    toss_decision_stats['percentage'] = (toss_decision_stats['wins'] / toss_decision_stats['total_matches']) * 100
    toss_decision_stats['percentage'] = toss_decision_stats['percentage'].round(2)
    
    return toss_decision_stats.to_dict(orient='records')
matches_won_by_toss_decision()

[{'toss_decision': 'bat',
  'wins': 177,
  'total_matches': 391,
  'percentage': 45.27},
 {'toss_decision': 'field',
  'wins': 377,
  'total_matches': 704,
  'percentage': 53.55}]

# Top 10 Umpires by Match Counts

In [ ]:
umpire_count = pd.DataFrame()
umpire_count = pd.concat([umpire_count,df_match['umpire2'].value_counts(),df_match['umpire1'].value_counts()])

umpire_count.reset_index(names='Name',inplace=True)
umpire_count

In [92]:
umpire_count.groupby('Name').sum().sort_values(by='count',ascending=False)

                 count
Name
AK Chaudhary     131.0
S Ravi           131.0
Nitin Menon      104.0
HDPK Dharmasena   98.0
C Shamshuddin     88.0
...                ...
TH Wijewardene     5.0
K Bharatan         3.0
AG Wharf           2.0
SD Ranade          2.0
Subroto Das        1.0

[70 rows x 1 columns]

In [9]:
def top_umpires_by_match_count():
    umpire_count = pd.DataFrame()
    umpire_count = pd.concat([umpire_count,df_match['umpire2'].value_counts(),df_match['umpire1'].value_counts()])
    umpire_count.reset_index(names='Name',inplace=True)
    umpire_count = umpire_count.groupby('Name').sum().sort_values(by='count',ascending=False)
    return umpire_count.head(10).to_dict()

In [10]:
top_umpires_by_match_count()

{'count': {'AK Chaudhary': 131.0,
  'S Ravi': 131.0,
  'Nitin Menon': 104.0,
  'HDPK Dharmasena': 98.0,
  'C Shamshuddin': 88.0,
  'CB Gaffaney': 77.0,
  'KN Ananthapadmanabhan': 72.0,
  'M Erasmus': 67.0,
  'VK Sharma': 65.0,
  'BNJ Oxenford': 64.0}}

In [12]:
top_umpires_by_match_count()

{'Matches': {'AK Chaudhary': 131,
  'S Ravi': 131,
  'Nitin Menon': 104,
  'HDPK Dharmasena': 98,
  'C Shamshuddin': 88,
  'CB Gaffaney': 77,
  'KN Ananthapadmanabhan': 72,
  'M Erasmus': 67,
  'VK Sharma': 65,
  'BNJ Oxenford': 64}}

In [29]:
umpire_count = pd.concat([df_match['umpire2'].value_counts(),df_match['umpire1'].value_counts()]).reset_index()
    
umpire_count.columns = ['Name','Matches']

umpire_count = umpire_count.groupby('Name', as_index=False).sum()

umpire_count.nlargest(10,'Matches').set_index('Name').to_dict()

{'Matches': {'AK Chaudhary': 131,
  'S Ravi': 131,
  'Nitin Menon': 104,
  'HDPK Dharmasena': 98,
  'C Shamshuddin': 88,
  'CB Gaffaney': 77,
  'KN Ananthapadmanabhan': 72,
  'M Erasmus': 67,
  'VK Sharma': 65,
  'BNJ Oxenford': 64}}

In [ ]:
def top_umpires_by_match_count():
    """
    Returns the top 10 umpires who have officiated the most matches.

    Returns:
        dict: A dictionary containing:
            - 'Matches': {umpire_name (str): match_count (int)}
    """
    # Count occurrences from both umpire columns
    umpire_count = pd.concat([df_match['umpire1'].value_counts(), df_match['umpire2'].value_counts()]).reset_index()

    # Rename columns
    umpire_count.columns = ['Name', 'Matches']

    # Group by umpire name and sum match counts
    umpire_count = umpire_count.groupby('Name', as_index=False).sum()

    # Get top 10 umpires and convert to dictionary
    return {'Matches': umpire_count.nlargest(10, 'Matches').set_index('Name')['Matches'].to_dict()}

# Match Statistics: Total Matches Played and Wins by Team

In [17]:
total_matches_of_team = (df_match['team1'].value_counts() + df_match['team2'].value_counts()).rename_axis('Team').reset_index(name = 'Total Match')

team_win = df_match['winner'].value_counts().rename_axis('Team').reset_index(name = 'Total Wins')

chase = df_match[df_match['result']=='wickets']['winner'].value_counts().rename_axis('Team').reset_index(name = 'won by chasing')

defend = df_match[df_match['result']=='runs']['winner'].value_counts().rename_axis('Team').reset_index(name = 'won by defending')

tie_wins = df_match[df_match['super_over']=='Y']['winner'].value_counts().rename_axis('Team').reset_index(name = 'Super Over Wins')

df_final = total_matches_of_team.merge(team_win, on='Team', how='left') \
                     .merge(chase, on='Team', how='left') \
                     .merge(defend, on='Team', how='left') \
                     .merge(tie_wins, on='Team', how='left')
df_final.fillna(0,inplace=True)
df_final.sort_values('Super Over Wins',ascending=False)

,Team,Total Match,Total Wins,won by chasing,won by defending,Super Over Wins
1,Delhi Capitals,252,115,66,46,3.0
3,Kings XI Punjab,246,112,58,51,3.0
9,Rajasthan Royals,221,112,67,43,2.0
7,Mumbai Indians,261,144,71,71,2.0
10,Royal Challengers Bangalore,255,123,64,57,2.0
5,Kolkata Knight Riders,251,131,76,54,1.0
11,Sunrisers Hyderabad,257,117,54,62,1.0
0,Chennai Super Kings,238,138,67,71,0.0
2,Gujarat Titans,75,41,29,12,0.0
4,Kochi Tuskers Kerala,14,6,4,2,0.0
6,Lucknow Super Giants,44,24,8,16,0.0
8,Pune Warriors,76,27,14,13,0.0

In [18]:
sup = df_match[df_match['super_over']=='Y']

In [ ]:
team1 = sup['team1'].value_counts().rename_axis('Team').reset_index(name = 'Super Overs Played')
team1

team2 = sup['team2'].value_counts().rename_axis('Team').reset_index(name = 'Super Overs Played')
team2

In [30]:
team1.merge(team2,on='Team',how='outer')

                          Team  Super Overs Played_x  Super Overs Played_y
0          Chennai Super Kings                   1.0                   NaN
1               Delhi Capitals                   2.0                   2.0
2               Gujarat Titans                   1.0                   NaN
3              Kings XI Punjab                   NaN                   4.0
4        Kolkata Knight Riders                   4.0                   NaN
5               Mumbai Indians                   2.0                   2.0
6             Rajasthan Royals                   1.0                   2.0
7  Royal Challengers Bangalore                   2.0                   1.0
8          Sunrisers Hyderabad                   1.0                   3.0

In [37]:
x = pd.concat([sup['team1'], sup['team2']]).rename_axis('Super Overs Played').reset_index('Team')
x

KeyError: 'Requested level (Team) does not match index name (Super Overs Played)'

In [36]:
len(x)

28

In [ ]:
x['team']